@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

html {
   scroll-behavior: smooth;
}

.hero {
   position: relative;
   color: white;
   background-color: black;
   height: 100vh;
   padding: 0 20px;
   overflow: hidden;
}

.hero .back-video {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.hero nav {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px;
   z-index: 100;
}

.hero nav ul {
   display: flex;
   align-items: center;
   justify-content: center;
   list-style: none;
}

.hero nav ul li {
   margin: 0 20px;
}

.hero nav ul li a {
   text-decoration: none;
   color: white;
}

.hero img {
   height: 800px;
   position: absolute;
   right: 100px;
   bottom: 0;
   /* opacity: 0.8; */
}

.hero main {
   position: absolute;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   left: 80px;
}

.hero main * {
   z-index: 100;
}

.hero main h1 {
   display: none;
}

.hero main p {
   font-size: 60px;
   font-weight: 200;
}

.hero main button {
   display: block;
   font-family: inherit;
   font-size: 20px;
   padding: 10px 20px;
   background-color: #9b111e;
   color: white;
   border: none;
   border-radius: 10px;
   margin-top: 30px;
   outline: none;
}

.container {
   width: 1200px;
   max-width: 100%;
   margin: 0 auto;
   padding: 80px 20px;
}

.section {
   background-color: #07070d;
   color: white;
   min-height: 100vh;
}

/* ---------------------- */
/* ABOUT US SECTION */

.about h2 {
   font-size: 50px;
   text-align: center;
}

.about .line {
   width: 70%;
   height: 4px;
   background-color: #9b111e;
   margin: auto;
}

.about p {
   margin-top: 50px;
   font-size: 18px;
   text-align: center;
}

.about .img-container {
   width: 500px;
   max-height: 500px;
   max-width: 90%;
   aspect-ratio: 1;
   border-radius: 50%;
   border: 5px solid #9b111e;
   margin: 40px auto 0;
   background-image: url(./media/about/about1.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   transition: background-image 1s ease-in-out 2.5s;
}

/* ----------------------- */
/* SERVICES (NAILS & LASHES) SECTION */

.service {
   background-color: #07070d;
   color: white;
   min-height: 100vh;
}

.service .content {
   display: flex;
   align-items: flex-start;
   justify-content: center;
   padding: 20px;
   border: 1px solid silver;
   border-radius: 20px;
   position: relative;
   margin-top: 30px;
}

.service .content::before {
   content: ' ';
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   opacity: 0.08;
   background-image: url('./media/about/about5.jpg');
   background-repeat: no-repeat;
   background-position: 50% 0;
   background-size: cover;
}
.service .content .text {
   flex: 1;
}

.service .content .text p {
   margin-bottom: 15px;
   font-size: 18px;
}
.service .content .text p i {
   color: #9b111e;
}

.service .content .text h3 {
   font-size: 30px;
   margin-bottom: 30px;
   font-weight: 200;
   text-align: center;
   border-bottom: 2px solid #9b111e;
   padding-bottom: 10px;
   text-transform: uppercase;
}
.service .gallery {
   flex: 2;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

.service .image {
   overflow: hidden;
   width: 150px;
   height: 150px;
   margin: 3px;
   border-radius: 10px;
   border: 2px solid #9b111e;
   opacity: 0.9;
   transform: scale(0.85) rotate(3deg);
   transition: all 0.5s ease;
}

.service .image:hover {
   transform: scale(1);
   opacity: 1;
}

.service .image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.service .content.reverse {
   flex-direction: row-reverse;
}

/* ----------------------- */
/* CONTACT SECTION */

.contact h3 {
   font-weight: 200;
   font-size: 30px;
   text-align: center;
   margin-bottom: 15px;
}
.testimonials {
   /* min-height: 300px; */
   width: 800px;
   max-width: 90%;
   margin: auto;
   position: relative;
   overflow: hidden;
}

.testimonials .text {
   border-radius: 15px;
   border-left: 6px solid #9b111e;
   /* font-size: 18px; */
   line-height: 1.6;
   background-color: rgb(155, 17, 30, 0.4);
   padding: 30px;
   color: silver;
   font-style: italic;
   translate: 0 -40px;
   /* min-height: 200px; */
   text-align: justify;
   /* height: 200px; */
}

/* .testimonials .cover {
   position: absolute;
   width: 100%;
   height: 200px;
   border-radius: 15px;
   background-color: #9b111e;
   translate: -100% -40px;
   animation: slide 2s ease;
   z-index: 5;
} */

/* @keyframes slide {
   0% {
      transform: translateX(0);
   }
   70% {
      transform: translateX(100%);
   }
   100% {
      transform: translateX(0);
   }
} */

.testimonials .name {
   text-transform: capitalize;
   font-size: 20px;
   /* font-weight: 200; */
   text-align: end;
   font-style: normal;
}

.testimonials .name i {
   color: darkgray;
   font-size: 16px;
   margin-right: 5px;
}

.testimonials .icon {
   font-size: 60px;
   color: silver;
   position: relative;
   z-index: 10;
   text-align: center;
}

.end {
   text-align: end;
   font-weight: 200;
   font-style: italic;
   font-size: 18px;
   transform: translateY(-35px);
}

/* ----------------------- */
/* IMAGE MODAL */

.modal-image {
   visibility: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   position: fixed;
   z-index: 9999;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
   background-color: rgba(0, 0, 0, 0.93);
   opacity: 0;
   transform: scale(0);
   transition: all 0.5s ease;
}

.modal-image.open {
   visibility: visible;
   opacity: 1;
   transform: scale(1);
}

.modal-close {
   position: fixed;
   top: 5%;
   right: 5%;
   background: transparent;
   border: none;
}

.modal-close i {
   font-size: 50px;
   color: #9b111e;
}

.modal-content {
   background: transparent;
   width: 80%;
   height: 80%;
}

.modal-content img {
   height: 100%;
   width: 100%;
   object-fit: contain;
}
